.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.bg1,
.bg2,
.bg3 {
  height: 100%;
  width: 100%;
}
.swiper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-text {
  position: absolute;
  text-align: center;
  line-height: 1.7;
  color: white;
}

.swiper-btn {
  font-weight: 500;
  line-height: 50px;
  padding: 0 50px;
  background-color: #fff;
  margin: 20px;
  border: none;
}
