.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 1px 0.6px 0.1px white;
}

.nav-options {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-option {
  margin: 15px;
}
.main-logo {
  height: 40px;
  margin-right: 250px;
}
.nav-icons {
  /* margin-right: 70px; */
}
.navicon {
  margin: 10px;
  font-size: 20px;
}
